# production ?? development
NODE_ENV=development

# DATABASE CONNECTION
DB_NAME=db_todo
DB_HOST=localhost
DB_USER=db_hades
DB_PASSWORD=12345
DB_PORT=3306
DB_CONNECTION_POOL_LIMIT=10

# JSON WEB TOKEN
JWT_SECRET=1234567890
JWT_EXPIRES_IN=1d

CLIENT_URL=http://localhost:5173